<!DOCTYPE html>
<html><head>
	<title>TINCAN</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- CSS Files comes here -->
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/kip.css" rel="stylesheet">
	<script type="text/javascript" src="javascripts/jquery.js"></script> 
	<script type="text/javascript" src="javascripts/bootstrap.min.js"></script> 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60206441-1', 'auto');
  ga('send', 'pageview');

</script>
	
</head>
	<body id="homeBody"  onload="tester()">
		 <!--###############################-->
	    <!--NAVIGATION ####################-->
	    <!--###############################-->
	    <nav class="navbar navbar-default navbar-fixed-top">
	      	<div class="container">
		      	<div class="row">
			      	<div class="navbar-header">
				        <a class="navbar-brand" href="#">Make Room</a>          
			        </div>
			        <div id="navbar" class="navbar-collapse collapse">
				        <form class="navbar-form navbar-right" action="/logout" method="post">
					        <button type="submit" class="btn btn-success">Sign Out</button>
				        </form>
			        </div><!--/.navbar-collapse -->
			    </div>
				<div class="row">
			    	<ul class="nav nav-pills">
					  <li role="presentation" ><a href="/home">Home</a></li>
					  <li role="presentation"><a href="/friends">Friends</a></li>
					<li role="presentation" ><a href="/saved">Loved</a></li>
					<li role="presentation" ><a href="/sent">Sent</a></li>
					</ul>
			    </div>
	    	</div>
	    </nav>
	    <div class="container">
	    	<div class="row">

			  <% for(var i=message.length-1; i>= 0; i--) {%>

			  		  
     		  

			    		<div class="col-lg-4">
			    			<a href=' <%= url[i] %>  ' target="_blank"> <h3> <%=title[i]%> </h3></a>
			    			<p> <%= message[i] %> </p>
			    			<div>
			    		<form id="form1" action="/<%= from[i] %>" method="post">	
			    				<!-- THIS IS WHAT IS MAKING THE AREF LOOK WIERD!!!!! CHANGE CSS FOR BUTTON TYPE -->

			    				<div class="sender"   style="float:Left;"  ><button type='submit'>  <%= from[i] %> @ <%= time[i] %> </button>  </div>
			    				<div class="btn-toolbar" role="toolbar" style="float:Right;">
				    				<div class="btn-group">
	    				
				    					<!-- this to check for sender ID -->
									<input type="text" name="fromID" size="51" style= "height:26px" value=  '<%= fromID[i] %> '  hidden  >	
	    				</form>
			<form action="/home" method="post" >	
				    					<!-- this to check timestamp -->	
				    					<input type="text" name="timestamp" size="51" style= "height:26px" value=  '<%= timestampA[i] %> '  hidden >
								       <!--  <button class="btn btn-default" aria-label="Delete" type="button">
								            <span title="Delete" class="glyphicon glyphicon-trash"></span>
								        </button> -->


								       <!--  <button class="btn btn-default" aria-label="Tag" type="button">
								        	<span title="Tag" class="glyphicon glyphicon-tag"></span>
								        </button> 

	onclick="disableButton(<%= timestampA[i] %>, <%= isliked[i] %>)"
checkBool(<%= timestampA[i] %>, <%= isliked[i] %>

-->

								        
								       <button class="btn btn-default" id="<%= timestampA[i] %>" aria-label="Love" name = "Love" type="submit" , onclick="disableButton(<%= timestampA[i] %>, <%= isliked[i] %>)" > 
								        	<span title="Love" class="glyphicon glyphicon-heart"></span>
								        </button>


								       <!--  <button class="btn btn-default" aria-label="Share" type="button">
								        	<span title="Share" class="glyphicon glyphicon-share-alt"></span>
								        </button> -->

				    				</div>
			    				</div>	    				
			    			</div>
			    		</div>
			    	</form>
			   <% } %>
	    		
	    	
	    	</div>
	    </div>
	</body >
	<script type="text/javascript">
	
	function disableButton(tsNum, mybool) {
    if(mybool){
    document.getElementById(tsNum).disabled = true;
	}else{
	document.getElementById(tsNum).disabled = false;	
	}
    }
	</script> 
	<script>

	function tester(){
		var leng =  <%= message.length-1 %>;
	<% for(var i=message.length-1; i>= 0; i--){ %>
		//var  tm2=  <%= isliked[i]%>;
		//alert(tm2);
	
		// for(var i = 0; i < leng ; i++){
		// 	var tm = <%= isliked.length %>;
		// 	var tm2 = 
		// 	alert(typeof tm);
			
	   disableButton(<%= timestampA[i] %> , <%= isliked[i] %>);

	   <% } %>
		}
	
	</script>
</html>